@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aranda Software</h1>
    <p class="lead">Somos la compañia lider en soluciones de gestión de IT en latinoamerica.</p>
    <p class="lead">Aranda Software administra más de dos millones de estaciones de trabajo en la región, con soluciones que están alineadas con las mejores prácticas ITIL certificadas por PinkElephant.</p>
    <p><a href="https://arandasoft.com/" target="_blank" class="btn btn-primary btn-lg">Saber más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Soluciones</h2>
        <p>
            Te ofrecemos herramientas simples para el manejo de tu infraestructura tecnológica a través de software que cumple con los mas altos estándares de calidad a un óptimo precio.
        </p>
        <p><a class="btn btn-default" href="https://arandasoft.com/nuestras-soluciones/" target="_blank">Saber más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>Contamos con clientes en todos los sectores del mercado alrededor de la región.</p>
        <p><a class="btn btn-default" href="https://arandasoft.com/clientes-aranda-software/" target="_blank">Saber más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Partners</h2>
        <p>Conoce a nuestros socios de negocios en LATAM.</p>
        <p><a class="btn btn-default" href="https://arandasoft.com/partners-aranda-2/" target="_blank">Saber más &raquo;</a></p>
    </div>
</div>